*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
        --color-primary: #191d2b;
        --color-secondary: #27AE60;
        --color-white: #ffffff;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey1: #dbe1e8;
        --color-grey2: #b2becd;
        --color-grey3: #6c7983;
        --color-grey4: #454e56;
        --color-grey5: #2a2e35;
        --color-grey6: #12181b;
        --br-sm-2: 14px;
        --box-shadow1: 0 3px 15px rgba(0,0,0,.2);
        }
.color{
    --color-primary: #ffffff;
        --color-secondary: #F56692;
        --color-white: #454e56;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey1: #6c7983;
        --color-grey2: #6c7983;
        --color-grey3: #6c7983;
        --color-grey4: #454e56;
        --color-grey5: #f8f8f8;
        --color-grey6: #12181b;
}
body{
    font-size: 1.1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: 'Roboto Slab', serif;
    transition: all .4s ease-in-out;
}
a{
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-family: inherit;
}
section{
        min-height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 3rem 18rem;
}
header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}
.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}
.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);

}
.sec4{
    display: none;
    transform: translateY(0) scale(1);

}
.sec5{
    display: none;
    transform: translateY(0) scale(1);

}
.active{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim{
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scaleY(1);
        }
    }
}
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all .4s ease-in-out;
        i{
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow1);
        i{
            font-size: 1.2rem;
            color: var(--color-grey2);
            pointer-events: none;
        }
    }
}

/*header-content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute ;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }
        .image{
            border-radius: var(--br-sm-2);
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background-color: #000;
            transition: all .4s ease-in-out;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right:  18rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondary);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}
.btn-content{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 400;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;

    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;

    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
        }
    }
}
/*header-content*/

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 600;
        span{
            color: var(--color-secondary);
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%,-50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        .about-item{
            border: 1px solid var(--color-grey5);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);
            &:hover{
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }
            .abt-text{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                .large-text{
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);
                }
                .small-text{
                    padding: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey1);
                    letter-spacing: 2px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey5);
                    }
                }
            }
        }
    }
    .left-about{
        
        p{
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-grey1);
        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-stats{
    padding-bottom: 4rem;
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
        
        .prog-title{
            text-transform: uppercase;
            font-weight: 500;
            }
        .progress-con{
            display: flex;
            align-items: center;
            .prog-text{
                color: var(--color-grey2);
            }
            .progress{
                width: 100%;
                height: .45rem;
                background-color: var(--color-grey4);
                margin-left: 1rem;
                position: relative;
                span{
                    width: 90%;
                    height: 100%;
                    background-color: var(--color-secondary);
                    display: block;
                }
            }
        }
        }
    }
}
.stat-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        left: 50%;
        bottom: 30%;
        width: 10%;
        height: 2px;
        background-color: var(--color-secondary);
        transform: translateX(-50%);
        position: absolute;
    }
}
.timeline{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-grey5);
        .timeline-icon{
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.3rem;
            }
        }
        .timeline-duration{
            padding: .2rem .6rem;
            background-color: var(--color-grey5);
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span{
                color: var(--color-grey2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            color: var(--color-grey2);
        }
    }
}
/*Portfolio*/
.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 60px 0;
    grid-gap: 20px;
    
    .portfolio-item{
        position: relative;
        
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
            border-radius: 15px;
        }
        &:hover .portfolio-hover{
            transform: scale(1);
            opacity: 1;
        }
        .portfolio-hover{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 15px;
            height: 100%;
            display: flex;
            opacity: 0;
            transform: scale(0);
            flex-direction: column;
            align-items: center;
            
            justify-content: center;
            transition: all .4s ease-in-out;
            background-color: var(--color-secondary);
            h3{
                padding: 10px 0;
            }
            .portfolio-icons{
                display: flex;
                .portfolio-icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-grey5);
                    margin: 0 10px;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    a{
                        cursor: pointer;
                    }
                    i{
                        font-size: 1.5rem;
                        margin: 0 1rem;
                        color: var(--color-white);
                    }
                    &:hover{
                        background-color: var(--color-white);
                    }
                    &:hover i{
                        color: var(--color-primary);
                    }
                }
            }
        }
        
    }
}
.portfolio-detail{
    margin-top: 60px;
    text-align: center;
}
/*Blogs*/
.blogs-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin-top: 60px;
    .blogs-item{
        background-color: var(--color-white);
        border-radius: 5px;
        position: relative;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        img{
            width: 100%;
            height: auto;
            border-radius: 5px;
            transform: scale(1);
            filter: grayscale(1);
            transition: all .4s ease-in-out;
        }
        
        .blogs-title{
            font-weight: 500;
            color: var(--color-grey3);
            margin: 10px;
        }
        .blogs-content{
            font-size: 18px;
            font-weight: 100;
            color: var(--color-grey3);
            margin: 0 10px;
            padding-bottom: 10px;
        }
        &:hover{
            transform: translateY(-5px);
            box-shadow: 1px 1px 20px rgba(0,0,0,.3);
            img{
                transform: scale(1.1);
                filter: grayscale(0);
            }
            .blogs-main::before{
                display: none;
            }
        }
        a{
            cursor: pointer;
            &:hover{
                h3{
                color: var(--color-grey6);
                }
            }
        }
        .blogs-main{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 5px;
                top: -10px;
                left: 0;
                background-color: var(--color-secondary);
            }
        }
    }
    
}
/*contact*/
.contact-container{
    display: flex;
    margin-top: 60px;
    padding-bottom: 100px;
}
.contact-left{
    flex: 2;
    margin-right: 10px;
    .contact-icons{
        display: flex;
        align-items: center;
        position: relative;
        .contact-icon{
            display: flex;
            align-items: center;
            p{
                margin-left: 10px;
            }
            div{
                width: 20px;
            }
        }
        .contact-ansewr{
            position: absolute;
            right: 10px;
            top: 0;
        }
        p{
            font-size: 14px;
        }
    }
    .contact-content{
        padding: 30px 0;
    }
    .contact-social{
        margin-top: 30px;
        display: flex;
        .social-icon{
            width: 50px;
            cursor: pointer;
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            border-radius: 50%;
            background-color: var(--color-grey5);
            i{
                color: var(--color-white);
                font-size: 20px;
            }
            &:hover{
                background-color: var(--color-white);
                i{
                    color: var(--color-grey5);
                }
            }
        }
    }
}
.contact-right{
    flex: 3;
    .contact-form{
        width: 100%;
        input{
            padding: 20px;
            border-radius: 30px;
            width: 100%;
            margin-bottom: 20px;
            background-color: var(--color-primary);
            outline: none;
            border: 1px solid var(--color-grey3);
            &:focus{
                border: 1px solid var(--color-secondary);
            }
        }
        textarea{
            width: 100%;
            outline: none;
            background-color: var(--color-primary);
            border: 1px solid var(--color-grey3);
            border-radius: 5px;
            padding: 10px;
            &:focus{
                border: 1px solid var(--color-secondary);
            }
        }
        .name-email{
            display: flex;
            input{
                width: 48%;  
            }
            #name{
                margin-right: 20px;
            }
        }
    }
    .contact-footer{
        margin-top: 20px;
        display: flex;
        position: relative;
        button{
            border-radius: 30px;
            width: 150px;
            height: 50px;
            background-color: var(--color-primary);
            color: var(--color-grey3);
            outline: none;
            border: 1px solid var(--color-grey3);
            cursor: pointer;
            &:hover{
                background-color: var(--color-secondary);
                color: var(--color-white);
            }
        }
        .footer-right{
            position: absolute;
            top:0;
            right: 0;
        }
    }
}
/*themebtn*/
.theme-btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: fixed;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3%;
    cursor: pointer;
    &:active{
        transform: translateY(-3px);
    }
    i{
        font-size: 26px;
    }
}